<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade bg-login" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
          <div class="uk-margin-bottom">
            <img class="uk-align-center" src="../../../assets/icon/logo.svg">
            <h2 class="uk-text-center" style="color: white">Masuk ke Admin Salammu</h2>
          </div>
					<div class="uk-margin uk-width-large uk-margin-auto card uk-card uk-card-default uk-card-body uk-box-shadow-large">

				<form [formGroup]="form">
					<p>Email</p>
						<mat-form-field class="uk-width-1-1" appearance="outline">
							<input formControlName="email" name="email" required matInput type="email" email="true" placeholder="Masukan Email">
						</mat-form-field>
	  
                        <div class="error-msg" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
							Email harus diisi!
						</div>
						<div class="error-msg" *ngIf="form.controls.email.errors?.email">
						  Format Email salah!
						</div>
					<p>Kata Sandi</p>
						<mat-form-field class="uk-width-1-1" appearance="outline">
							<input formControlName="password" name="password" matInput required [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Masukan Kata Sandi">
							<mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
						</mat-form-field>
                        <div class="error-msg" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">
							Kata Sandi harus diisi!
						</div>

						<div *ngIf="success == true" class="uk-alert alert-info uk-alert-success">
						  Login sukses. Tunggu sampai diarahkan ke halaman Dashboard.
						</div>
			
						<div *ngIf="invalid == true" class="uk-alert alert-info uk-alert-danger">
						  Tidak dapat login. Pastikan email dan kata sandi benar.
						</div>
			
						<div *ngIf="nonaktif == true" class="uk-alert alert-info uk-alert-danger">
						  Status pengguna nonaktif. Silahkan hubungi admin Salammu.
						</div>
	  
						<mat-checkbox class="example-margin" formControlName="remember" name="remember">Ingat Saya</mat-checkbox>
					  	<button class="uk-align-right uk-button uk-button-link uk-text-capitalize uk-text-muted" routerLink="/auth/lupa-password">Lupa Kata Sandi ?</button>
	  
						<div class="uk-margin">
							<button mat-flat-button class="uk-width-1-1" color="primary" (click)="login()">Masuk</button>
						</div>
					
				</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
