<h1 mat-dialog-title>Filter</h1>

  <div mat-dialog-content>      

    <h4>Hak Akses</h4>
    <!-- Jika diaktifkan, maka color chip ditambah primary -->
    <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let n of allRoles" color="{{filterData.role == n.id ? 'primary':''}}" [selected]="filterData.role == n.id" (click)="selectRole(n.id)">{{n.name}}</mat-chip>
    </mat-chip-list>

    <h4 class="uk-margin-top">Status</h4>
    <!-- Jika diaktifkan, maka color chip ditambah primary -->
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="{{filterData.status == 'all' ? 'primary':''}}" [selected]="filterData.status == 'all'" (click)="selectStatus('all')">Semua</mat-chip>
        <mat-chip color="{{filterData.status == '1' ? 'primary':''}}" [selected]="filterData.status == '1'" (click)="selectStatus('1')">Active</mat-chip>
        <mat-chip color="{{filterData.status == '0' ? 'primary':''}}" [selected]="filterData.status == '0'" (click)="selectStatus('0')">Block</mat-chip>
    </mat-chip-list>

    <h4 class="uk-margin-top">Status Kepengurusan</h4>
    <!-- Jika diaktifkan, maka color chip ditambah primary -->
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="{{filterData.statusAsManagement == 'all' ? 'primary':''}}" [selected]="filterData.statusAsManagement == 'all'" (click)="selectstatusAsManagement('all')">Semua</mat-chip>
        <mat-chip color="{{filterData.statusAsManagement == 'pending' ? 'primary':''}}" [selected]="filterData.statusAsManagement == 'pending'" (click)="selectstatusAsManagement('pending')">Pending</mat-chip>
        <mat-chip color="{{filterData.statusAsManagement == 'confirmed' ? 'primary':''}}" [selected]="filterData.statusAsManagement == 'confirmed'" (click)="selectstatusAsManagement('confirmed')">Terkonfirmasi</mat-chip>
    </mat-chip-list>

  </div>
  
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Batal</button>
      <button mat-flat-button color="accent" (click)="reset()">Reset Filter</button>
      <button mat-flat-button color="primary" (click)="save()">Terapkan</button>
    </mat-dialog-actions>