<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">
        <div uk-grid>
          <div class="uk-width-1-2">
            <h1>Kategori Produk</h1>
          </div>
          <div class="uk-width-1-2" style="text-align:right;">
            <button mat-flat-button class="tambah" (click)="openDialog(null)">Tambah Kategori</button>
          </div>
        </div>
        <div></div>
      </div>
      <hr>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-middle">
          <thead>
              <tr>
                  <th>Kategori</th>
                  <th>Oleh</th>
                  <th>Dibuat</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let n of allCategories | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{n.name}}</td>
                  <td>{{n.user_name}}</td>
                  <td>{{n.created_at | date:'dd/MM/yyyy'}}</td>
                  <td class="uk-table-shrink uk-text-nowrap">
                    <button mat-mini-fab color="primary" (click)="openDialog(n)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="delete(n)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
  
      <div class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <pagination-controls (pageChange)="p = $event" nextLabel="Next" previousLabel="Prev"></pagination-controls>
      </div>
      <!-- <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul> -->
  
    </div>
  
  </div>
  