<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">
        <div class="uk-flex-middle" uk-grid >
          <div class="uk-width-1-4">
            <div style="display: flex;">
              <h1 style="margin-bottom: 0;">NotulenMu</h1>
            </div>
          </div>
          <div class="uk-width-3-4" style="text-align:right;">
            <mat-form-field class="uk-margin-right">
                <mat-label>Pilih Cabang</mat-label>
                <input type="text"
                       placeholder="Pilih salah satu"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlCabang"
                       [matAutocomplete]="autoCabang">
                <mat-autocomplete #autoCabang="matAutocomplete" (optionSelected)="selectOption($event.option.value)">
                  <mat-option *ngFor="let n of listCabang" [value]="n.nama">
                    {{n.nama}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="uk-margin-right">
                <mat-label>Pilih Ranting</mat-label>
                <input type="text"
                       placeholder="Pilih salah satu"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlRanting"
                       [matAutocomplete]="autoRanting">
                <mat-autocomplete #autoRanting="matAutocomplete" (optionSelected)="selectOption($event.option.value)">
                  <mat-option *ngFor="let n of listRanting" [value]="n.nama">
                    {{n.nama}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-flat-button class="tambah uk-margin-right" (click)="openDialog(null)">Tambah NotulenMu</button>
          </div>
        </div>

      </div>
      <hr>

      <div style="margin-left: 16px;">
        <mat-form-field appearance="outline">
            <mat-label>Pencarian</mat-label>
            <input matInput placeholder="Masukkan kata kunci" [(ngModel)]="searchText" (ngModelChange)="onSearch()" name="searchText">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button style="margin-left: 16px;" mat-flat-button color="warn" *ngIf="hasSelectedData" (click)="hapusDataTerpilih()">Hapus Data Terpilih</button>
      </div>

      <hr>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-middle uk-table-divider">
          <thead>
              <tr>
                  <th class="uk-table-shrink"><input class="uk-checkbox" type="checkbox" [(ngModel)]="allData.checked" (change)="selectAll($event, 'all')"></th>
                  <th>Judul</th>
                  <th>Waktu</th>
                  <th>Cabang/Ranting</th>
                  <th>Oleh</th>
                  <th>Dibuat</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of allNotulenmu | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let idx=index">
              <td><input class="uk-checkbox" type="checkbox" [(ngModel)]="n.checked" (change)="selectAll($event, idx)"></td>
              <td>{{n.title}}</td>
              <td>{{n.datetime | date:'dd MMMM yyyy HH:mm'}}</td>
              <td>{{n.organization_nama}}</td>
              <td>{{n.created_at | date:'dd/MM/yyyy'}}</td>
              <td>{{n.user_name}}</td>
              <!-- <td class="uk-table-shrink uk-text-nowrap">
                <button mat-mini-fab (click)="openDetail(n)">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-mini-fab color="primary" (click)="openDialog(n)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="delete(n)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td> -->
              
              <td class="uk-table-shrink uk-text-nowrap">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDetail(n)">
                      <mat-icon>visibility</mat-icon>
                      <span>Detail NotulenMU</span>
                    </button>
                    <button mat-menu-item (click)="export(n)">
                      <mat-icon>download</mat-icon>
                      <span>Download NotulenMU</span>
                    </button>
                    <button mat-menu-item (click)="openDialog(n)">
                        <mat-icon>edit</mat-icon>
                        <span>Perbarui</span>
                    </button>
                    <button mat-menu-item (click)="delete(n)">
                      <mat-icon>delete</mat-icon>
                      <span>Hapus</span>
                    </button>
                  </mat-menu>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
  
      <div class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <pagination-controls (pageChange)="p = $event" nextLabel="Next" previousLabel="Prev"></pagination-controls>
      </div>
  
      <!-- <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul> -->
  
    </div>
  
  </div>
  