<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Video</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Judul Video</mat-label>
    <input matInput [(ngModel)]="videosData.title" type="text" maxlength="255" #title="ngModel" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Deskripsi Video</mat-label>
    <textarea matInput [(ngModel)]="videosData.descriptions" #descriptions="ngModel" required></textarea>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Link Youtube </mat-label>
    <input matInput [(ngModel)]="videosData.url" #url="ngModel" required>
  </mat-form-field>

  <mat-form-field>
    <div>
      <progress *ngIf="progressUpload" id="js-progressbar" class="uk-progress" value="10" max="100"></progress>

      <div class="uk-flex">
        <button mat-stroked-button color="primary" class="uk-margin-right">Pilih File</button>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
      </div>
      <!-- image preview setelah file terpilih -->
      <!-- <img class="uk-margin-top" src="../../../../assets/imgs/no-image.png"> -->
      <img *ngIf="image != undefined && videosData.image != ''" class="uk-margin-top" [src]="image">
      <img *ngIf="videosData.image != undefined && videosData.image != '' && image == undefined" class="uk-margin-top" src="{{serverImg+videosData.image}}">
    </div>
  </mat-form-field>
  <p>*Pilih File PNG atau JPG dengan ururan tidak lebih dari 2 MB</p>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button (click)="uploadPhoto()" [disabled]="title.invalid || descriptions.invalid || url.invalid" color="primary">Simpan</button>
</mat-dialog-actions>
