<h1 mat-dialog-title>{{crData.category == 'cabang' ? 'Detail Cabang':'Detail Ranting'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select required [disabled]="true" [(ngModel)]="crData.category">
        <mat-option *ngFor="let n of ['cabang', 'ranting']" value="{{n}}">{{n}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika dipilih Cabang -->
  <mat-form-field class="uk-width-1-1" appearance="fill" *ngIf="crData.category == 'cabang'">
    <mat-label>Nama Cabang</mat-label>
    <input matInput required [(ngModel)]="crData.name" [disabled]="true">
  </mat-form-field>

  <!-- Jika dipilih ranting -->
  <mat-form-field class="uk-width-1-1" appearance="fill" *ngIf="crData.category == 'ranting'">
    <mat-label>Nama Ranting</mat-label>
    <input matInput required [(ngModel)]="crData.name" [disabled]="true">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Alamat</mat-label>
    <textarea matInput required [(ngModel)]="crData.address" [disabled]="true"></textarea>
  </mat-form-field>

  <!-- Disini pake quill ya -->
  <!-- <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Tentang </mat-label>
    <textarea matInput required [disabled]="true" [innerHTML]="getInnerHTML(crData.about)"></textarea>
  </mat-form-field> -->
  
  <mat-label>Tentang <span class="text-merah-16 ml-10">*</span></mat-label>
  <quill-editor [(ngModel)]="crData.about" [required]="true" [modules]="modules" [disabled]="true" placeholder="Tentang">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'" [disabled]="true">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header" [disabled]="true">
          <option value="1">Heading 1</option>
          <option value="2">Heading 2</option>
          <option value="3">Heading 3</option>
          <option value="4">Heading 4</option>
          <option value="5">Heading 5</option>
          <option value="6">Heading 6</option>
          <option selected>Normal</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered" [disabled]="true"></button>
        <button class="ql-list" value="bullet" [disabled]="true"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'" [disabled]="true"></button>
        <button class="ql-italic" [title]="'Italic'" [disabled]="true"></button>
        <button class="ql-underline" [title]="'Underline'" [disabled]="true"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'Image'" [disabled]="true"></button>
      </span>

    </div>

    <div class="ql-container" style="border-width: 0;">
      <div class="ql-editor" [innerHTML]="byPassedHTMLString">
      </div>
    </div>
  </quill-editor>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button color="primary" *ngIf="crData.verified == 0" (click)="verifikasi()">Setujui</button>
  <button mat-flat-button color="warn" *ngIf="crData.verified == 1" (click)="batalVerif()">Batalkan Persetujuan</button>
</mat-dialog-actions>
