<h1 mat-dialog-title>Tambah atau Perbarui Cabang Ranting</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select required [disabled]="true">
        <mat-option *ngFor="let n of ['Cabang', 'Ranting']" value="{{n}}">{{n}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika dipilih Cabang -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Cabang</mat-label>
    <input matInput required [disabled]="true">
  </mat-form-field>

  <!-- Jika dipilih ranting -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Ranting</mat-label>
    <input matInput required [disabled]="true">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Alamat</mat-label>
    <textarea matInput required [disabled]="true"></textarea>
  </mat-form-field>

  <!-- Disini pake quill ya -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Tentang </mat-label>
    <textarea matInput required [disabled]="true"></textarea>
  </mat-form-field>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary">Setujui</button>
  <button mat-flat-button color="warn">Batalkan Persetujuan</button>
</mat-dialog-actions>
