<h1 mat-dialog-title>Perbarui Informasi Ranting</h1>
<!-- dikasih nama ranting yaa -->

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Ranting</mat-label>
    <input matInput [disabled]="true" [(ngModel)]="dataRanting.nama" type="text" maxlength="255" #title="ngModel" required>
  </mat-form-field>

  <!-- Disini pake Quill juga yaa -->
  <mat-label>Deskripsi ranting <span class="text-merah-16 ml-10">*</span></mat-label>
  <quill-editor [(ngModel)]="dataRanting.deskripsi" [required]="true" placeholder="Deskripsi">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option value="1">Heading 1</option>
          <option value="2">Heading 2</option>
          <option value="3">Heading 3</option>
          <option value="4">Heading 4</option>
          <option value="5">Heading 5</option>
          <option value="6">Heading 6</option>
          <option selected>Normal</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'Image'"></button>
      </span>

    </div>

    <div class="ql-container" style="border-width: 0;">
      <div class="ql-editor" [innerHTML]="byPassedHTMLString">
      </div>
    </div>
  </quill-editor>

  <!-- Tambah box peta yaa -->

  <mat-form-field class="uk-width-1-1 uk-margin top " appearance="fill">
    <mat-label>Lokasi Sesuai Peta (Terisi Otomatis)</mat-label>
    <input matInput [disabled]="true">{{detailLocSelected == undefined ? '':detailLocSelected.display_name}}
  </mat-form-field>
  
  <div id="map" style="width: auto; height: 300px;"></div>
  <div id="info">&nbsp;</div>
  <div id="geolocation"></div>

  <div style="margin-top: 100px;"></div>
  

</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button (click)="save()" color="primary">Simpan</button>
</mat-dialog-actions>
