<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">

        <div class="uk-flex-middle" uk-grid >
          <div class="uk-width-1-2">
            <div style="display: flex;">
              <h1 style="margin-bottom: 0;">Sicara</h1>
            </div>

          </div>
          <div class="uk-width-1-2" style="text-align:right;">
            <mat-form-field appearance="standard" class="uk-margin-right">
              <mat-label>Pencarian</mat-label>
              <input matInput placeholder="Masukkan kata kunci" name="searchText" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button class="tambah" (click)="syncPwm()"><mat-icon class="light">sync</mat-icon>Sync</button>
          </div>
        </div>

      </div>
      <hr>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-middle">
          <thead>
              <tr>
                  <th>Nama Wilayah</th>
                  <th>Jumlah Daerah</th>
                  <th>Tanggal Terakhir Sync</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let n of allPwm | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let idx=index">
                  <td class="fw-bold">{{n.nama}}</td>
                  <td>{{n.jumlah_pdm}}</td>
                  <td>{{n.created_at | date:'dd MMMM yyyy'}}</td>
                  <td class="uk-table-shrink uk-text-nowrap">
                    <button mat-mini-fab [routerLink]="['/sicara/daerah', n.id]">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
  
      <div class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <pagination-controls (pageChange)="p = $event" nextLabel="Next" previousLabel="Prev"></pagination-controls>
      </div>
      <!-- <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul> -->
  
    </div>
  
  </div>
  