<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">
        <div class="uk-flex-middle" uk-grid >
          <div class="uk-width-1-2">
            <div style="display: flex;">
              <h1 style="margin-bottom: 0;">Khutbah</h1>
            </div>
          </div>
          <div class="uk-width-1-2" style="text-align:right;">
            <mat-form-field appearance="standard" class="uk-margin-right">
              <mat-label>Pencarian</mat-label>
              <input matInput placeholder="Cari Judul" name="searchText" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button class="tambah uk-margin-right" (click)="openDialog(null)">Tambah Khutbah</button>
          </div>
        </div>

      </div>
      <hr>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-middle uk-table-divider">
          <thead>
              <tr>
                  <th>Sampul</th>
                  <th>Judul</th>
                  <th>Ringkasan</th>
                  <th>Oleh</th>
                  <th>Dibuat</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of allKhutbah | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
              <td><img class="uk-thumbnail" src="{{n.image == undefined || n.image == '' ? '../../../assets/imgs/no-image.png':(serverImg+n.image)}}" width="120" height="120" alt=""></td>
              <td>{{n.title}}</td>
              <td>{{n.summary}}</td>
              <td>{{n.user_name}}</td>
              <td>{{n.created_at | date:'dd/MM/yyyy'}}</td>
              <td class="uk-table-shrink uk-text-nowrap">
                <button mat-mini-fab color="primary" (click)="openDialog(n)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="delete(n)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
      <div class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <pagination-controls (pageChange)="p = $event" nextLabel="Next" previousLabel="Prev"></pagination-controls>
      </div>
  
      <!-- <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul> -->
  
    </div>
  
  </div>
  