<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Ustadz</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Ustadz</mat-label>
    <input matInput [(ngModel)]="ustadzmuData.name" #name="ngModel" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Email Ustadz</mat-label>
    <input matInput [(ngModel)]="ustadzmuData.email" #email="ngModel" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Keilmuan</mat-label>
    <mat-select [(ngModel)]="ustadzmuData.science" required>
        <mat-option *ngFor="let n of allSciences" value="{{n.id}}">{{n.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>No Whatsapp</mat-label>
    <input matInput [(ngModel)]="ustadzmuData.phone" #phone="ngModel" required type="tel">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Profil/Biodata Ustadz</mat-label>
    <textarea rows="5" cols="40" matInput [(ngModel)]="ustadzmuData.biodata" required type="text"></textarea>
  </mat-form-field>

  <div class="border-card" style="padding: 16px;">
    <h4>Alamat</h4>

    <!-- Menggunakan data lokasi sesuai seluruh Indonesia -->
    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Provinsi</mat-label>
        <input type="text"
               placeholder="Pilih Provinsi"
               matInput
               [formControl]="prov"
               [matAutocomplete]="autoProv">
        <mat-autocomplete autoActiveFirstOption #autoProv="matAutocomplete" [displayWith]="getTitle.bind(this)" (optionSelected)="onChangeProv($event)">
          <mat-option *ngFor="let p of filteredOptionsProv | async" [value]="p.prov_id">
            {{p.prov_nama}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Kabupaten</mat-label>
        <input type="text"
               placeholder="Pilih Kabupaten"
               matInput
               [formControl]="kab"
               [matAutocomplete]="autoKab">
        <mat-autocomplete autoActiveFirstOption #autoKab="matAutocomplete" [displayWith]="getTitleKab.bind(this)" (optionSelected)="onChangeKab($event)">
          <mat-option *ngFor="let ka of filteredOptionsKab | async" [value]="ka.kab_id">
            {{ka.kab_nama}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Kecamatan</mat-label>
        <input type="text"
               placeholder="Pilih Kecamatan"
               matInput
               [formControl]="kec"
               [matAutocomplete]="autoKec">
        <mat-autocomplete autoActiveFirstOption #autoKec="matAutocomplete" [displayWith]="getTitleKec.bind(this)">
          <mat-option *ngFor="let ke of filteredOptionsKec | async" [value]="ke.kec_id">
            {{ke.kec_nama}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </div>


</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="save()" [disabled]="name.invalid || email.invalid || phone.invalid" color="primary">Simpan</button>
</mat-dialog-actions>
