<h1 mat-dialog-title>Detail Pengajian</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Pengajian</mat-label>
    <input [(ngModel)]="pengajianData.name" matInput required [disabled]="true">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Pembicara</mat-label>
    <input matInput [(ngModel)]="pengajianData.speaker" required [disabled]="true">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Deskripsi</mat-label>
    <textarea matInput [(ngModel)]="pengajianData.descriptions" required [disabled]="true"></textarea>
  </mat-form-field>

  <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s" uk-grid>
    <mat-form-field appearance="fill">
      <mat-label>Tanggal Pengajian</mat-label>
      <input matInput [(ngModel)]="dateValue" [disabled]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jam Pengajian</mat-label>
      <input matInput [(ngModel)]="timeValue" [disabled]="true">
      <mat-icon matSuffix >alarm</mat-icon>
    </mat-form-field>
  </div>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Penyelenggara</mat-label>
    <mat-select [(ngModel)]="pengajianData.organizer" [disabled]="true">
      <mat-option *ngFor="let n of ['cabang', 'ranting', 'lainnya']" value="{{n}}">{{n}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika Cabang terpilih -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Cabang</mat-label>
    <mat-select [(ngModel)]="pengajianData.branch" [disabled]="true">
      <mat-option *ngFor="let n of listCabang" value="{{n.id}}">{{n.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika Ranting terpilih -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Ranting</mat-label>
    <mat-select [(ngModel)]="pengajianData.twig" [disabled]="true">
      <mat-option *ngFor="let n of listRanting" value="{{n.id}}">{{n.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika lainnya terpilih -->
  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Penyelenggara</mat-label>
    <input matInput [(ngModel)]="pengajianData.organizer_name" required [disabled]="true">
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Live Streaming</mat-label>
    <input matInput [(ngModel)]="pengajianData.url_livestream" required placeholder="Masukan url/link streaming" [disabled]="true"> 
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Alamat Lengkap</mat-label>
    <textarea matInput [(ngModel)]="pengajianData.location" required [disabled]="true"></textarea>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Lokasi Sesuai Peta</mat-label>
    <input matInput [disabled]="true">{{detailLocSelected == undefined ? '':detailLocSelected.display_name}}
  </mat-form-field>

  <div id="map" style="width: auto; height: 300px;"></div>
  <div id="info">&nbsp;</div>
  <div id="geolocation"></div>

  <div style="margin-top: 100px;"></div>



</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button *ngIf="pengajianData.verified == 0" (click)="verifikasi()" color="primary">Setujui</button>
  <button mat-flat-button *ngIf="pengajianData.verified == 1" (click)="batalVerif()" color="warn">Batalkan Persetujuan</button>
</mat-dialog-actions>
