h1, h2, h4, .mat-dialog-title {
    font-family: Nunito-Bold;
  }
  
  h3 {
    font-family: Nunito-Regular;
  }
  
  th {
    text-transform: capitalize;
  }
  
  mat-flat-button {
    color: white !important;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 8px;
    font-family: Nunito-Semibold;
    font-weight: 600;
  }
  
  