<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">

        <div class="uk-flex-middle" uk-grid >
          <div class="uk-width-1-2">
            <div style="display: flex;">
              <h1 style="margin-bottom: 0;">Pengguna</h1>
              <button mat-stroked-button class="uk-margin-left" (click)="openFilter()"><mat-icon>filter_list</mat-icon> Filter</button>
            </div>
              
          </div>
          <div class="uk-width-1-2" style="text-align:right;">
            <mat-form-field appearance="standard" class="uk-margin-right">
              <mat-label>Pencarian</mat-label>
              <input matInput placeholder="Masukkan kata kunci" name="searchText" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button class="tambah uk-margin-right" (click)="dialogPengguna(null)">Tambah Pengguna</button>
          </div>
        </div>

      </div>
      <hr>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-middle uk-table-divider">
          <thead>
              <tr>
                  <th>Avatar</th>
                  <th (click)="sortByColumn('name')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Nama</span>
                      <i [class]="conterColClick.name % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('email')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Email</span>
                      <i [class]="conterColClick.email % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('phone')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">No HP</span>
                      <i [class]="conterColClick.phone % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('is_active')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Status</span>
                      <i [class]="conterColClick.is_active % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('asManagement')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Pengurus <br> LPCRM</span>
                      <i [class]="conterColClick.asManagement % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('role')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Hak Akses</span>
                      <i [class]="conterColClick.role % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th (click)="sortByColumn('date_created')">
                    <span style="display: flex; align-items: center;">
                      <span style="flex: 1;">Terdaftar</span>
                      <i [class]="conterColClick.date_created % 2 != 0 ? 'fa fa-sort-down' : 'fa fa-sort-up'"></i></span>
                  </th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
                <tr *ngFor="let n of allUsers | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td><img class="uk-preserve-width uk-border-circle" src="{{n.image == null ? '../../../assets/imgs/user.svg':(serverImg+n.image)}}" width="40" height="40" alt=""></td>
                  <td>{{n.name}}</td>
                  <td>{{n.email}}</td>
                  <td>{{n.phone}}</td>
                  <td>
                    <mat-chip-list aria-label="Fish selection">
                      <mat-chip color="primary" *ngIf="n.is_active == 1" selected>Active</mat-chip>
                      <mat-chip color="warn" *ngIf="n.is_active == 0" selected>Block</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td>
                    <mat-chip-list aria-label="Fish selection">
                      <mat-chip color="primary" *ngIf="n.asManagement == 1" selected>Yes</mat-chip>
                      <mat-chip color="warn" *ngIf="n.asManagement == 0" selected>No</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td>{{allRoles[n.role] == undefined ? '':allRoles[n.role].name}}</td>
                  <td>
                    <span *ngIf="n.date_created == '0000-00-00 00:00:00'">-</span>
                    <span *ngIf="n.date_created != '0000-00-00 00:00:00'">{{n.date_created | date:'dd/MM/yyyy H:mm'}}</span>
                  </td>
                  <td class="uk-table-shrink uk-text-nowrap">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="n.is_active == 1" [disabled]="userData.email == n.email" (click)="block(n, false)">
                          <mat-icon>block</mat-icon>
                          <span>Blokir Pengguna</span>
                        </button>
                        <button mat-menu-item *ngIf="n.is_active == 0" [disabled]="userData.email == n.email" (click)="block(n, true)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Aktifkan Pengguna</span>
                        </button>
                        <button mat-menu-item (click)="dialogPengguna(n)">
                            <mat-icon>edit</mat-icon>
                            <span>Perbarui Pengguna</span>
                          </button>
                        <button mat-menu-item [disabled]="userData.email == n.email" (click)="editRole(n)">
                          <mat-icon>manage_accounts</mat-icon>
                          <span>Ubah Hak Akses</span>
                        </button>
                        <button mat-menu-item (click)="updatePassword(n)">
                            <mat-icon>key</mat-icon>
                            <span>Perbarui Kata Sandi</span>
                          </button>
                        <button mat-menu-item [disabled]="userData.email == n.email" (click)="delete(n)">
                          <mat-icon>delete</mat-icon>
                          <span>Hapus Pengguna</span>
                        </button>
                      </mat-menu>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
  
      <div class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <pagination-controls (pageChange)="p = $event" nextLabel="Next" previousLabel="Prev"></pagination-controls>
      </div>
      <!-- <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul> -->
  
    </div>
  
  </div>
  