<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Hak Akses</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Hak Akses</mat-label>
    <input matInput [(ngModel)]="rolesData.name" type="text" maxlength="255" #name="ngModel" required>
  </mat-form-field>

  <mat-label>List Menu:</mat-label>
  <mat-list>
    <div class="flex-container">
      <div class="column">
        <mat-list-item *ngFor="let n of menuList.slice(0, menuList.length / 2); let idx=index">
          <mat-checkbox style="margin: 0 12px" [(ngModel)]="menuList[idx].checked" (ngModelChange)="checkRoles(idx)">{{n.name}}</mat-checkbox>
        </mat-list-item>
      </div>
      <div class="column">
        <mat-list-item *ngFor="let n of menuList.slice(menuList.length / 2); let idx=index">
          <mat-checkbox style="margin: 0 12px" [(ngModel)]="menuList[menuList.length / 2 + idx].checked" (ngModelChange)="checkRoles(menuList.length / 2 + idx)">{{n.name}}</mat-checkbox>
        </mat-list-item>
      </div>
    </div>
  </mat-list>    

</div>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="isLoading" mat-dialog-close>Batal</button>
  <button mat-flat-button [disabled]="isLoading" (click)="save()" [disabled]="name.invalid && pathSelected.length == 0" color="primary">{{isLoading ? 'Mohon Tunggu...':'Simpan'}}</button>
</mat-dialog-actions>