<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Role</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Role</mat-label>
    <input matInput [(ngModel)]="rolesData.name" required>
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let n of menuList; let idx=index">
      <mat-checkbox style="margin: 0 12px" [(ngModel)]="menuList[idx].checked" (ngModelChange)="checkRoles(idx)">{{n.name}}</mat-checkbox>
    </mat-list-item>
  </mat-list>

</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button (click)="save()" color="primary">Simpan</button>
  </mat-dialog-actions>