<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Produk</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Nama Produk</mat-label>
    <input matInput [(ngModel)]="productsData.name" #name="ngModel" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select required [(ngModel)]="productsData.category" #category="ngModel">
        <mat-option *ngFor="let n of allCategories" value="{{n.id}}">{{n.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Harga</mat-label>
    <input matInput required type="number" [(ngModel)]="productsData.price" #price="ngModel">
  </mat-form-field>

  <!-- <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Deskripsi Produk</mat-label>
    <textarea matInput required [(ngModel)]="productsData.descriptions"></textarea>
  </mat-form-field> -->

  <mat-label>Deskripsi Produk</mat-label>
  <quill-editor [(ngModel)]="productsData.descriptions" #descriptions="ngModel" [modules]="modules" placeholder="Deskripsi">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option value="1">Heading 1</option>
          <option value="2">Heading 2</option>
          <option value="3">Heading 3</option>
          <option value="4">Heading 4</option>
          <option value="5">Heading 5</option>
          <option value="6">Heading 6</option>
          <option selected>Normal</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'Image'"></button>
      </span>

    </div>

    <div class="ql-container" style="border-width: 0;">
      <div class="ql-editor" [innerHTML]="byPassedHTMLString">
      </div>
    </div>
  </quill-editor>

  <mat-form-field>
    <div>
      <div class="uk-flex">
        <button mat-stroked-button color="primary" class="uk-margin-right">Pilih File</button>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
      </div>
    </div>
  </mat-form-field>
  <p>*Pilih File PNG atau JPG dengan ururan tidak lebih dari 2 MB</p>

  <!-- image preview setelah file terpilih -->
  <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" *ngIf="productsData.images.length > 0" uk-grid>
    <div *ngFor="let img of productsData.images; let idx=index">
      <div>
        <div class="uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{img == undefined ? '../../../../assets/imgs/no-image.png':serverImg+img}}" alt="">
            </div>
            <div>
              <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom" (click)="removeImages(idx)">Hapus</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" *ngIf="images.length > 0" uk-grid>
    <div *ngFor="let img of images; let idx=index">
      <div>
        <div class="uk-card-default">
            <div class="uk-card-media-top">
                <img [src]="img" alt="">
            </div>
            <div>
              <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom" (click)="removeImagesLokal(idx)">Hapus</button>
            </div>
        </div>
      </div>
    </div>
  </div>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button (click)="uploadPhoto()" [disabled]="name.invalid || descriptions.invalid || category.invalid || price.invalid" color="primary">Simpan</button>
</mat-dialog-actions>
