<div style="margin: 16px;">

  <div class="uk-child-width-1-3@s uk-text-center uk-margin-top uk-margin-bottom" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <img src="../../../assets/imgs/user.svg" class="uk-margin-bottom">
          <h2 class="color-primary">PENGGUNA</h2>
          <p>{{statisticsData == undefined ? 0:statisticsData.users_active}} User Aktif</p>
          <p>{{statisticsData == undefined ? 0:statisticsData.users_blocked}} User Diblokir</p>
        </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <img src="../../../assets/imgs/pengajian.svg" class="uk-margin-bottom">
        <h2 class="color-primary">PENGAJIAN</h2>
        <p>{{statisticsData == undefined ? 0:statisticsData.pengajian}} Divalidasi</p>
        <p>{{statisticsData == undefined ? 0:statisticsData.pengajian_not_validate}} Belum tervalidasi</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <img src="../../../assets/imgs/produk.svg" class="uk-margin-bottom">
        <h2 class="color-primary">PRODUK</h2>
        <p>{{statisticsData == undefined ? 0:statisticsData.products}} Produk Divalidasi</p>
        <p>{{statisticsData == undefined ? 0:statisticsData.products_not_validate}} Belum tervalidasi </p>
      </div>
    </div>
  </div>

</div>
