<div style="margin: 16px;">

  <div class="uk-child-width-1-3@s uk-text-center uk-margin-top uk-margin-bottom" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <img src="../../../assets/imgs/user.svg" class="uk-margin-bottom">
          <h2 class="color-primary">PENGGUNA</h2>
          <p>100.000 User Aktif</p>
          <p>10 User Diblokir</p>
        </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <img src="../../../assets/imgs/pengajian.svg" class="uk-margin-bottom">
        <h2 class="color-primary">PENGAJIAN</h2>
        <p>1.000.000 Divalidasi</p>
        <p>100 Belum tervalidasi</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <img src="../../../assets/imgs/produk.svg" class="uk-margin-bottom">
        <h2 class="color-primary">PRODUK</h2>
        <p>1.000.000 Produk Divalidasi</p>
        <p>10 Belum tervalidasi </p>
      </div>
    </div>
  </div>

</div>
