<h1 mat-dialog-title>Filter</h1>

  <div mat-dialog-content>      

    <mat-form-field class="uk-width-1-1" appearance="fill">
      <mat-label>Kategori Produk</mat-label>
      <mat-chip-list #chipList aria-label="Kategori selection">
        <mat-chip
          *ngFor="let k of kat"
          (removed)="remove(k)">
          {{k}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Pilih Kategori"
          #fruitInput
          [formControl]="katCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let k of filteredKat | async" [value]="k">
          {{k}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <h4 class="uk-margin-top">Status</h4>
    <!-- Jika diaktifkan, maka color chip ditambah primary -->
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Unverified</mat-chip>
        <mat-chip color="primary" selected>Verified</mat-chip>
    </mat-chip-list>

    <h4 class="uk-margin-top">Favorit (Rekomendasi)</h4>
    <!-- Jika diaktifkan, maka color chip ditambah primary -->
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Direkomendasikan</mat-chip>
        <mat-chip color="primary" selected>Tidak direkomendasikan</mat-chip>
    </mat-chip-list>

  </div>
  
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="accent">Reset Filter</button>
      <button mat-flat-button color="primary">Terapkan</button>
    </mat-dialog-actions>