<h1 mat-dialog-title>Perbarui Password Pengguna</h1>

  <div mat-dialog-content>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Nama Pengguna</mat-label>
        <input matInput readonly [(ngModel)]="usersData.name" required>
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Password Baru</mat-label>
        <input matInput [(ngModel)]="user.password" (ngModelChange)="checkMatch()" required type="text">
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Tulis Ulang Password Baru</mat-label>
        <input matInput required [(ngModel)]="user.password2" (ngModelChange)="checkMatch()" type="text">
    </mat-form-field>
    <p *ngIf="match == false" style="color: red;">Confirmation New Password not match!</p>
  
  </div>
  
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button [disabled]="loading || !match" (click)="save()" color="primary">Simpan</button>
    </mat-dialog-actions>