<h1 mat-dialog-title>Perbarui Kata Sandi Pengguna</h1>

  <div mat-dialog-content>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Nama Pengguna</mat-label>
        <input matInput readonly [(ngModel)]="usersData.name" required>
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Kata Sandi Baru</mat-label>
        <input matInput [(ngModel)]="user.password" (ngModelChange)="checkMatch()" required [type]="showPassword ? 'text' : 'password'">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field class="uk-width-1-1" appearance="fill">
        <mat-label>Tulis Ulang Kata Sandi Baru</mat-label>
        <input matInput required [(ngModel)]="user.password2" (ngModelChange)="checkMatch()" [type]="showPassword ? 'text' : 'password'">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
    </mat-form-field>
    <p *ngIf="match == false" style="color: red;">Kata Sandi tidak cocok!</p>
  
  </div>
  
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Batal</button>
      <button mat-flat-button [disabled]="loading || !match" (click)="save()" color="primary">{{loading ? 'Mohon Tunggu...':'Simpan'}}</button>
    </mat-dialog-actions>