<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade bg-login" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
          <div class="uk-margin-bottom">
            <img class="uk-align-center" src="../../../assets/icon/logo.svg">
            <h2 class="uk-text-center" style="color: white">Masuk ke Admin Salammu</h2>
          </div>
					<div class="uk-margin uk-width-large uk-margin-auto card uk-card uk-card-default uk-card-body uk-box-shadow-large">

              <p>Masukkan alamat email terverifikasi akun pengguna anda dan kami akan mengirimkan tautan pengaturan ulang password</p>
							<mat-form-field class="uk-width-1-1" appearance="outline">
								<input required matInput type="email" email="true" placeholder="Masukan Email">
							</mat-form-field>

              <button class="uk-button uk-button-link uk-text-capitalize uk-text-muted" routerLink="/auth/login">Kembali ke halaman Login</button>

							<div class="uk-margin">
								<button mat-flat-button class="uk-width-1-1" color="primary">Kirim</button>
              </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
