.card {
  // backdrop-filter: blur(16px) saturate(180%);
  // -webkit-backdrop-filter: blur(16px) saturate(180%);
  // background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  // border: 1px solid rgba(255, 255, 255, 0.125);
}


.bg-login {
position: relative;
height: 100%;
background-image: url('../../../assets/imgs/bg.svg');
background-size: cover;
overflow: auto;
}

h1, h2, h3, h4 {
  font-family: Nunito-Bold;
}

.uk-button {
  font-family: Nunito-Regular;
}
