<div style="margin: 16px">

    <div class="border-card">
      <div style="margin: 16px">
        <div uk-grid>
          <div class="uk-width-1-2">
            <h1>ProdukMU</h1>
          </div>
          <div class="uk-width-1-2" style="text-align:right;">
            <button mat-flat-button class="tambah uk-margin-right" (click)="openDialog(null)">Tambah Produk</button>
            <button mat-flat-button color="accent" *ngIf="hasSelectedData" class="uk-margin-right" (click)="verifikasiAll()">Setujui</button>
            <button mat-flat-button color="warn" *ngIf="hasSelectedData" (click)="batalVerif()">Batalkan Persetujuan</button>
          </div>
        </div>
        <div></div>
      </div>
      <hr>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-middle">
          <thead>
              <tr>
                  <th class="uk-table-shrink"><input class="uk-checkbox" type="checkbox" [(ngModel)]="allData.checked" (change)="selectAll($event, 'all')"></th>
                  <th>Foto</th>
                  <th>Nama</th>
                  <th>Kategori</th>
                  <th>Harga</th>
                  <th>Oleh</th>
                  <th>Fav</th>
                  <th>Status</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let n of allProducts; let idx=index">
                  <td><input class="uk-checkbox" type="checkbox" [(ngModel)]="n.checked" (change)="selectAll($event, idx)"></td>
                  <td><img class="uk-thumbnail" src="{{n.images == undefined || n.images == '' ? '../../../assets/imgs/no-image.png':serverImg+n.images[0]}}" width="120" height="120" alt=""></td>
                  <td>{{n.name}}</td>
                  <td>{{allCategories[n.category] == undefined ? '':allCategories[n.category].name}}</td>
                  <td>Rp. {{n.price | number:'1.0-0'}}</td>
                  <td>{{n.user_name}}</td>
                  <td><mat-icon class="{{n.fav == 1 ? 'fill':'gray'}}" (click)="fav(n)">star</mat-icon></td>
                  <td>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" *ngIf="n.verified == 1 && n.blocked == 0" selected>Verified</mat-chip>
                        <mat-chip color="accent" *ngIf="n.verified == 0 && n.blocked == 0" selected>Unverified</mat-chip>
                        <mat-chip color="warn" *ngIf="n.blocked == 1" selected>Block</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td class="uk-table-shrink uk-text-nowrap">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="n.blocked == 0" (click)="block(n, true)">
                          <mat-icon>block</mat-icon>
                          <span>Block Produk</span>
                        </button>
                        <button mat-menu-item *ngIf="n.blocked == 1" (click)="block(n, false)">
                          <mat-icon>lock_open</mat-icon>
                          <span>Unblock Produk</span>
                        </button>
                        <button mat-menu-item *ngIf="n.verified == 0" (click)="verifikasi(n, true)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Verifikasi Produk</span>
                        </button>
                        <button mat-menu-item *ngIf="n.verified == 1 && n.blocked == 0" (click)="verifikasi(n, false)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Batal Verifikasi Produk</span>
                        </button>
                        <button mat-menu-item (click)="openDialog(n)">
                            <mat-icon>inventory_2</mat-icon>
                            <span>Edit Produk</span>
                        </button>
                        <button mat-menu-item (click)="delete(n)">
                          <mat-icon>delete</mat-icon>
                          <span>Hapus</span>
                        </button>
                      </mat-menu>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      
  
      <hr>
  
      <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul>
  
    </div>
  
  </div>
  