<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Banner</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Tautan banner</mat-label>
    <input [(ngModel)]="bannersData.url" #url="ngModel" matInput required>
  </mat-form-field>

  <mat-form-field>
    <div>
      <div class="uk-flex">
        <button mat-stroked-button color="primary" class="uk-margin-right">Pilih File</button>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
      </div>
      <!-- image preview setelah file terpilih -->
      <img *ngIf="image != undefined && bannersData.image != ''" class="uk-margin-top" [src]="image">
      <img *ngIf="bannersData.image != undefined && image == undefined || bannersData.image == ''" class="uk-margin-top" src="{{serverImgBanner+bannersData.image}}">
    </div>
  </mat-form-field>
  <p>*Pilih File PNG atau JPG dengan ukuran tidak lebih dari 2 MB</p>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button (click)="uploadPhoto()" [disabled]="url.invalid || image == undefined && !bannersData.image" color="primary">Simpan</button>
</mat-dialog-actions>
