<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} {{crData.category == 'cabang' ? 'Cabang':'Ranting'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select required [(ngModel)]="crData.category">
        <mat-option *ngFor="let n of ['cabang', 'ranting']" value="{{n}}">{{n}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Jika dipilih Cabang -->
  <mat-form-field class="uk-width-1-1" appearance="fill" *ngIf="crData.category == 'cabang'">
    <mat-label>Nama Cabang</mat-label>
    <input matInput [(ngModel)]="crData.name" required>
  </mat-form-field>

  <!-- Jika dipilih ranting -->
  <mat-form-field class="uk-width-1-1" appearance="fill" *ngIf="crData.category == 'ranting'">
    <mat-label>Nama Ranting</mat-label>
    <input matInput [(ngModel)]="crData.name" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Alamat</mat-label>
    <textarea matInput [(ngModel)]="crData.address" required></textarea>
  </mat-form-field>

  <!-- Disini pake quill ya -->
  <!-- <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Tentang </mat-label>
    <textarea matInput required [innerHTML]="getInnerHTML(crData.about)"></textarea>
  </mat-form-field> -->
  
  <mat-label>Tentang</mat-label>
  <quill-editor [(ngModel)]="crData.about" [modules]="modules" placeholder="Tentang">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option value="1">Heading 1</option>
          <option value="2">Heading 2</option>
          <option value="3">Heading 3</option>
          <option value="4">Heading 4</option>
          <option value="5">Heading 5</option>
          <option value="6">Heading 6</option>
          <option selected>Normal</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'Image'"></button>
      </span>

    </div>

    <div class="ql-container" style="border-width: 0;">
      <div class="ql-editor" [innerHTML]="byPassedHTMLString">
      </div>
    </div>
  </quill-editor>




</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="save()" color="primary">Simpan</button>
</mat-dialog-actions>
