<h1 mat-dialog-title>{{isCreated ? 'Tambah':'Perbarui'}} Khutbah</h1>

<div mat-dialog-content>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Judul</mat-label>
    <input matInput [(ngModel)]="khutbahData.title" type="text" maxlength="255" #title="ngModel" required>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1" appearance="fill">
    <mat-label>Ringkasan Khutbah</mat-label>
    <textarea matInput [(ngModel)]="khutbahData.summary" #summary="ngModel" required></textarea>
  </mat-form-field>

  <!-- Disini pake Quill juga yaa -->
  <mat-label>Isi Khutbah <span class="text-merah-16 ml-10">*</span></mat-label>
  <quill-editor placeholder="Deskripsi" [required]="true" [(ngModel)]="khutbahData.descriptions" #descriptions="ngModel" [modules]="modules">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option value="1">Heading 1</option>
          <option value="2">Heading 2</option>
          <option value="3">Heading 3</option>
          <option value="4">Heading 4</option>
          <option value="5">Heading 5</option>
          <option value="6">Heading 6</option>
          <option selected>Normal</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'Image'"></button>
      </span>

    </div>

    <div class="ql-container" style="border-width: 0;">
      <div class="ql-editor" [innerHTML]="byPassedHTMLString">
      </div>
    </div>
  </quill-editor>

  <mat-form-field>
    <div>
      <mat-progress-bar *ngIf="progressUpload" mode="indeterminate"></mat-progress-bar>
      <br>
      <div class="uk-flex">
        <button mat-stroked-button color="primary" class="uk-margin-right">Pilih File</button>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
      </div>
      <!-- image preview setelah file terpilih -->
      <img *ngIf="image != undefined && khutbahData.image != ''" class="uk-margin-top" [src]="image">
      <img *ngIf="khutbahData.image != undefined && image == undefined || khutbahData.image == ''" class="uk-margin-top" src="{{serverImg+khutbahData.image}}">
    </div>
  </mat-form-field>
  <p>*Pilih File PNG atau JPG dengan ururan tidak lebih dari 2 MB</p>




</div>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="isLoading" mat-dialog-close>Batal</button>
  <button mat-flat-button [disabled]="isLoading || title.invalid || descriptions.invalid || summary.invalid" (click)="uploadPhoto()" color="primary">{{isLoading ? 'Mohon Tunggu...':'Simpan'}}</button>
</mat-dialog-actions>